body {
    background-color:#c90a0a;
}

.grid {
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
	display:inline-block;
    background-color: #C0C0C0;
}

.container {
	position: relative;
	top: 30px;
	font-size: 0;
	margin:auto;
	height:800px;
	width:800px;
	padding: 0;
	border: none;

    
}
